<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.reportacrime" >

    <permission android:name="pe.edu.upc.reportacrime.packages.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="pe.edu.upc.reportacrime.Activities.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/Applicationname"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".packages.activities.LoginActivity"
            android:label="Log in" >
        </activity>
        <activity
            android:name=".packages.activities.RegisterActivity"
            android:label="Register Account" >
        </activity>
        <activity
            android:name=".packages.activities.MainMenuActivity"
            android:label="Report a Crime" >
        </activity>
        <activity
            android:name=".packages.activities.ReportCrimeActivity"
            android:label="Create a new crime report" >
        </activity>
        <activity
            android:name=".packages.activities.DelictiveZonesActivity"
            android:label="Delictive Zones" >
        </activity>
        <activity
            android:name=".packages.activities.CrimeHistoryActivity"
            android:label="Crime Report History">
        </activity>
        <activity
            android:name=".packages.activities.ReportCrimeResumeActivity"
            android:label="Crime Report Resume" >
        </activity>
        <activity
            android:name=".packages.activities.CrimeItemActivity"
            android:label="Crime Detail" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAwMZ3SHy1JA4-4Z3Ta6dOsl5xaOtgz0OU" />

        <activity
            android:name="pe.edu.upc.reportacrime.packages.activities.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <activity
            android:name=".packages.activities.SplashScreenActivity"
            android:label="@string/Applicationname"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!-- Indica que es la actividad principal-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
